<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Updater.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EasyEPLANnerUpdater.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Updater.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Updater.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EasyEPLANnerUpdater.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Updater.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Updater.Settings.Settings>
            <setting name="ShowPullRequests" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReleaseTag" serializeAs="String">
                <value />
            </setting>
            <setting name="EplanAppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UsePullRequestVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PullRequestNumber" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PAT" serializeAs="String">
                <value />
            </setting>
        </Updater.Settings.Settings>
        <EasyEPLANnerUpdater.Settings>
            <setting name="ShowPullRequests" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReleaseTag" serializeAs="String">
                <value />
            </setting>
            <setting name="EplanAppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UsePullRequestVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PullRequestNumber" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PAT" serializeAs="String">
                <value />
            </setting>
        </EasyEPLANnerUpdater.Settings>
        <Updater.Settings>
            <setting name="ShowPullRequests" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReleaseTag" serializeAs="String">
                <value />
            </setting>
            <setting name="EplanAppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UsePullRequestVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PullRequestNumber" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PAT" serializeAs="String">
                <value />
            </setting>
        </Updater.Settings>
    </userSettings>
    <applicationSettings>
        <Updater.Settings.Settings>
            <setting name="GitOwner" serializeAs="String">
                <value>savushkin-r-d</value>
            </setting>
            <setting name="GitRepo" serializeAs="String">
                <value>EasyEPLANner</value>
            </setting>
            <setting name="InitialRelease" serializeAs="String">
                <value>2023.12.11</value>
            </setting>
        </Updater.Settings.Settings>
        <EasyEPLANnerUpdater.Settings>
            <setting name="GitOwner" serializeAs="String">
                <value>savushkin-r-d</value>
            </setting>
            <setting name="GitRepo" serializeAs="String">
                <value>EasyEPLANner</value>
            </setting>
            <setting name="InitialRelease" serializeAs="String">
                <value />
            </setting>
        </EasyEPLANnerUpdater.Settings>
        <Updater.Settings>
            <setting name="GitOwner" serializeAs="String">
                <value>savushkin-r-d</value>
            </setting>
            <setting name="GitRepo" serializeAs="String">
                <value>EasyEPLANner</value>
            </setting>
        </Updater.Settings>
    </applicationSettings>
</configuration>