name: DotNetBuild

on:
  pull_request_target:
    branches: [ main ]
    types: [ opened, synchronize ]
  merge_group:
    types: [ checks_requested ]
  workflow_dispatch:
  workflow_call:

jobs:
  check:
    name: Check
    runs-on: windows-latest
    outputs:
      result: ${{ steps.pass.outputs.result }}
    steps:
    - id: is_organization_member
      run: >
        $response = (curl -L
        -w '%{http_code}'
        -H "Accept: application/vnd.github+json"
        -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}"
        -H "X-GitHub-Api-Version: 2022-11-28"
        https://api.github.com/orgs/savushkin-r-d/members/${{ github.event.sender.login }})
        
        echo "response=$response" >> $env:GITHUB_OUTPUT
      continue-on-error: true
      
    - id: pass
      if: >-
        ((github.event.action == 'synchronize' || github.event.action == 'opened' || github.event_name  == 'workflow_dispatch') && steps.is_organization_member.outputs.response == '204') ||
        github.event_name  == 'workflow_run' ||
        github.event_name == 'merge_group'
      run: echo "result=success" >> $env:GITHUB_OUTPUT

  build:
    runs-on: windows-latest
    needs: check
    if: needs.check.outputs.result == 'success'
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
